{% extends 'base.html.twig' %}

{% block title %}Tous les meilleurs blagues réunionnaises sur {{ category.name }}{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-12 my-2">
        <h1 class="fs-2"> Tous nos dernières blagues sur : {{ category.name }}</h1>
    </div>
</div>

{% include "home/show_jokes.html.twig" with {jokes: jokes} %}

{% endblock %}
