{% extends 'base.html.twig' %}

{% block title %}Éditez une blague{% endblock %}

{% block body %}
    <h1>Éditez une blague</h1>

    {{ include('joke/_form.html.twig') }}

    <a href="{{ path('app_joke_index') }}">Retournez à la liste des blagues</a>

    {{ include('joke/_delete_form.html.twig') }}
{% endblock %}
