{% extends 'base.html.twig' %}

{% block title %}Créer une nouvelle blague{% endblock %}

{% block body %}
    <h1>Créer une nouvelle blague</h1>

    {{ include('joke/_form.html.twig') }}

    <a href="{{ path('app_joke_index') }}">back to list</a>
{% endblock %}
